<!-- <ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="presente" (click)="onClick('perfil')">
          <ion-icon name="camera-outline"></ion-icon>
          Presente
        </ion-tab-button>
        <ion-tab-button tab="asistencia" (click)="onClick('perfil')">
          <ion-icon name="calendar-outline"></ion-icon>
          Asistencia
        </ion-tab-button>
        <ion-tab-button tab="perfil" (click)="onClick('perfil')">
          <ion-icon name="person-circle-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->