<app-header titulo="Perfil"></app-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <div class="avatar">
      <img src="assets/img/foto_perfil.jpg" alt="Foto de perfil">
      <ion-button (click)="editarFoto()" expand="block" fill="solid" shape="round" color="warning">
        Cambiar foto de perfil
      </ion-button>
    </div>
    <div class="nombre">
      <ion-label>Nombre de Usuario: </ion-label>
      <ion-text>{{user()?.name}}</ion-text>
    </div>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-label>Correo Electrónico: </ion-label>
      <ion-text>{{user()?.email}}</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content *ngIf="!permission">
      <ion-label>Carrera: </ion-label>
      <ion-text>Ingenieria en cazuelas</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="warning" fill="solid" (click)="editarPerfil()" class="ion-padding">
    Editar datos
  </ion-button>

  <ion-button expand="full" color="danger" fill="solid" (click)="cerrarSesion()" class="ion-padding">
    Cerrar sesión
  </ion-button>
</ion-content>
