.profile-header {



    .avatar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }
    .avatar img {
        width: 200px;
        height: auto;
        border-radius: 50px;
      }
      .nombre{
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
  }
  

  
  .foto-icon {
    font-size: 30px;
    margin-top: -15px;
  }
  
  ion-label {
    margin-top: 10%; 
  }
  
  ion-text {
    font-weight: bold;
    font-size: 18px; 
    text-align: center; 
  }
  
  ion-card {
    margin-top: 20px;
  }
  