<ion-content class="ion-padding">
  <div id="header">
    <div id="app-var">
      <div id="logo">
        <img src="assets/icon/logo_duoc_uc.svg" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card>
      <h3>Iniciar Sesión</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-icon name="mail" class="ion-padding"></ion-icon>
            <ion-input labelPlacement="floating" label="E-mail" required type="email" aria-label="Email" name="email"
                formControlName="email"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Por favor, introduce un correo electronico.</p>
    
        <ion-item>
            <ion-icon name="lock-closed" class="ion-padding"></ion-icon>
            <ion-input labelPlacement="floating" label="Password" required type="password" aria-label="password"
                name="password" formControlName="password"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Por favor, introduce una contraseña.</p>
    
        <!-- Botón para Profesor -->
        <ion-button class="animate__animated animate__flip" expand="full" color="warning" type="submit" (click)="setPermission(true)">Iniciar sesión como
            Profesor</ion-button>
    
        <!-- Botón para Estudiante -->
        <ion-button class="animate__animated animate__flip" expand="full" color="warning" type="submit" (click)="setPermission(false)">Iniciar sesión como
            Estudiante</ion-button>
    </form>
    </ion-card>

    <div class="line-text ion-padding">
      <span class="lines"></span>
      <span class="text"><a href="/recuperar-contra">¿Olvidaste tu contraseña?</a></span>
    </div> 

    <div class="line-text ion-padding">
      <span class="lines"></span>
      <span class="text">¿Aún no tienes cuenta? </span><span class="text"><a href="/register">Registrate</a></span>
    </div> 
  </div>


</ion-content>