<ion-content class="ion-padding">
  <div id="header">
    <div id="app-var">
      <ion-icon name="arrow-back" routerLink="../"></ion-icon>
      <div id="logo">
        <img src="assets/icon/logo_duoc_uc.svg" alt="">
      </div>
      
    </div>
  </div>

  <div class="wrapper">
    <ion-card>
      <h3>Registro</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- nombre completo -->
        <ion-item>
            <ion-icon name="person" class="ion-padding"></ion-icon>
            <ion-input labelPlacement="floating" label="Nombre Completo" required type="text" aria-label="text" name="name"
                formControlName="name"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Por favor, introduce un nombre.</p>
        <!-- email -->
        <ion-item>
          <ion-icon name="mail" class="ion-padding"></ion-icon>
          <ion-input labelPlacement="floating" label="E-mail" required type="email" aria-label="Email" name="email"
              formControlName="email"></ion-input>
      </ion-item>
      <p class="Error" *ngIf="form && form.get('email')?.invalid && form.get('email')?.touched">Por favor, introduce un correo electronico.</p>
      <p class="Error" *ngIf="form && form.get('control')?.errors && form.get('control')?.errors['required'] && form.get('control')?.touched">Por favor, introduce una contraseña.</p>
      <p class="Error" *ngIf="form && form.get('email')?.errors && form.get('email')?.errors['emailDomain'] && form.get('email')?.touched">El correo electrónico debe contener '@duocuc.cl' o '@profesor.duoc.cl'.</p>
        <!-- password -->
        <ion-item>
          <ion-icon name="lock-closed" class="ion-padding"></ion-icon>
          <ion-input labelPlacement="floating" label="Contraseña" required type="password" aria-label="password"
              name="password" formControlName="password"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="form.get('password')?.errors && form.get('password')?.errors['required'] && form.get('password')?.touched">Por favor, introduce una contraseña.</p>
        <p class="Error" *ngIf="form.get('password')?.errors && form.get('password')?.errors['minlength'] && form.get('password')?.touched">La contraseña debe tener al menos 8 caracteres.</p>
        <!-- password 2 -->
        <ion-item>
            <ion-icon name="lock-closed" class="ion-padding"></ion-icon>
            <ion-input labelPlacement="floating" label="Repita su contraseña" required type="password" aria-label="password"
                name="password2" formControlName="password2"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="form.errors?.['mustMatch'] && form.get('password2')?.touched">Las contraseñas no coinciden.</p>

        <!-- boton de Registro -->
        <ion-button expand="full" color="warning" type="submit" class="ion-padding" [disabled]="form.invalid">
          Registrarse
        </ion-button>
    </form>
    </ion-card>

  </div>


</ion-content>