<ion-content class="ion-padding">
  <div id="header">
    <div id="app-var">
      <ion-icon name="arrow-back" routerLink="/login" color="light"></ion-icon>
      <div id="logo">
        <img src="assets/icon/logo_duoc_uc.svg" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card>
      <h3>Restablecer contraseña</h3>
    <form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-icon  name="mail" class="ion-padding"></ion-icon>
        <ion-input labelPlacement="floating" label="Email" required type="email" aria-label="Email" name="email"
          [(ngModel)]="usuario.email"></ion-input>
      </ion-item>
      <ion-button expand="full" color="warning" type="submit" class="ion-padding" [disabled]="miFormulario.invalid">
        Confirmar
      </ion-button>
    </form>
    </ion-card>
  </div>


</ion-content>