<ion-content class="ion-padding">
  <div id="header">
    <div id="app-var">
      <ion-icon name="arrow-back" routerLink="/login" color="light"></ion-icon>
      <div id="logo">
        <img src="assets/icon/logo_duoc_uc.svg" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card>
      <h3>Restablecer contraseña</h3>

      <p class="ion-text-center">Te enviaremos un email para que puedas restablecer tu contraseña</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-icon name="mail" class="ion-padding"></ion-icon>
            <ion-input labelPlacement="floating" label="E-mail" required type="email" aria-label="Email" name="email"
                formControlName="email"></ion-input>
        </ion-item>
        <p class="Error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Por favor, introduce un correo electronico.</p>
    
      
        <ion-button expand="full" color="warning" type="submit" class="ion-padding" [disabled]="form.invalid">
          Confirmar
        </ion-button>
    </form>
    </ion-card>
  </div>


</ion-content>