<app-header titulo="Asistencia"></app-header>

<ion-content>
  <ion-item class="titulo" color="mycolor" lines="none">
    <ion-label>INGENIERIA EN INFORMATICA</ion-label>
  </ion-item>
  <ion-accordion-group *ngFor="let ramo of ramos" back>
    <ion-accordion>
      <ion-item slot="header" lines="full" class="ramos" color="mycolor">
        <ion-icon slot="start" name="ellipsis-vertical-outline" class="ion-no-padding" class="ion-no-margin"></ion-icon>
        <ion-label>
          <h1>{{ramo.nombre_asignatura}}</h1>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" color="mycolor">
        <ion-grid>
          <ion-row class="cuadro">
            <ion-col sizeLg="4" sizeMd="4" sizeXs="8">
              <div class="fec">
                <ion-label class="ion-no-margin">FECHA</ion-label>
              </div>
              <ion-list class="fechas pad" *ngFor="let asist of asistencia[ramo.id]" back style="color: {{asist.color}};">
                {{asist['fecha'] | date:'EEEE d MMMM y'}}
              </ion-list>
            </ion-col>
            <ion-col>
              <div class="asis">
                <ion-label>Asistencia</ion-label>
              </div>
              <div class="asistencias" *ngFor="let asist of asistencia[ramo.id]" back>
                <ion-list class="pad" style="color: {{asist.color}};">
                  {{asist.asistencia ? 'Presente' : 'Ausente'}}
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>