<app-header titulo="Presente"></app-header>

<ion-content class="ion-padding">
  <div class="contenedor">
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="warning" shape="round" (click)="getCurrentLocation()">Obtener Coordenadas</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col size="12" class="ion-text-center">
          <ion-button [disabled]="!ValidacionCoordenadas" (click)="scan()" color="warning" shape="round">
            Registrar asistencia
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>