<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="mycolor">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="qr" *ngIf="permission">
        <ion-icon name="qr-code-outline"></ion-icon>
        QR
      </ion-tab-button>
      <ion-tab-button tab="presente" *ngIf="!permission">
        <ion-icon name="camera-outline"></ion-icon>
        Presente
      </ion-tab-button>
      <ion-tab-button tab="asistencia" *ngIf="!permission">
        <ion-icon name="calendar-outline"></ion-icon>
        Asistencia
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
